<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<p>{{count}}</p>
			<p v-text="count"></p>
			<p v-html="htmlVal"></p>
			<input v-model="bindVal" />
			<br />
			<div>
				bindVal:
				<span>{{bindVal}}</span>
			</div>
			<br />
			<button @click="btnClick(2,3)">count++</button>
			<br />
			<br />
			<button @click="bindValClick()">bindVal++</button>
		</div>
	</body>

	<script type="module">
		import { Yvue } from './index.js'
		const app = new Yvue({
			el: '#app',
			data() {
				return {
					count: 0,
					htmlVal: '<span style="color:red;font-size:16">v-html测试</span>',
					bindVal: 2,
				}
			},
			methods: {
				btnClick(num, num1) {
					app.count = app.count + num + num1 + this.bindVal
				},
				bindValClick() {
					app.bindVal++
				},
			},
		})
	</script>
</html>
